<!DOCTYPE html>
<html>
  <head>
     <title> Ruby on rail tutorial sample app | <%= @title%></title>
  <head>
  <body>
    <h1>Sample App<h1>
    <p>
      This is the About page for the  Ruby on Rail Tutorial
    </p>
  <body>
<html>
